/* iphones  */
.iphone15pm, .iphone15p, .iphone15plus, .iphone15, 
.iphone14pm, .iphone14p, .iphone14plus, .iphone14, 
.iphone13pm, .iphone13p, .iphone13, .iphone13m, 
.iphone12pm, .iphone12p, .iphone12,
.iphone11pm, .iphone11p, .iphone11, 
.iphoneXr, .iphoneXsm, .iphoneXs, .iphoneX,
.iphonese2, .ix, .iy, .iz  {
    width:188px;
    height:235px;
    border-radius: 10px;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
  }


  .iphone15pm {
    background-image: url(/img/i15pm.PNG);
  }

.iphone15p {
    background-image: url(/img/i15p.PNG);
  }

  
.iphone15plus {
    background-image: url(/img/i15+.PNG);
  }
  
  .iphone15 {
    background-image: url(/img/i15.PNG);
  }

  
  .iphone14pm {
    background-image: url(/img/i14pm.PNG);
  }

  
  .iphone14p {
    background-image: url(/img/i14pm.PNG);
  }

  
  .iphone14plus {
    background-image: url(/img/i14+.PNG);
  }

  
  .iphone14 {
    background-image: url(/img/i14+.PNG);
  }


  .iphone13pm {
    background-image: url(/img/i13pm.PNG);
  }


  .iphone13p {
    background-image: url(/img/i13p.PNG);
  }

  
  .iphone13m {
    background-image: url(/img/i13m.PNG);
  }

  
  .iphone13 {
    background-image: url(/img/i13.PNG);
  }


  .iphone12pm {
    background-image: url(/img/i12pm.JPG);
  }

  
  .iphone12p {
    background-image: url(/img/i12p.JPG);
  }

  
  .iphone12 {
    background-image: url(/img/i12.JPG);
  }

  
  .iphone11pm {
    background-image: url(/img/i11pm.PNG);
  }

  
  .iphone11p {
    background-image: url(/img/i11p.JPG);
  }

  
  .iphone11 {
    background-image: url(/img/i11.PNG);
  }

  
  .iphoneXr {
    background-image: url(/img/ixr.PNG);
  }

  
  .iphoneXsm {
    background-image: url(/img/ixm.JPG);
  }

  
  .iphoneXs {
    background-image: url(/img/ixs.JPG);
  }

  
  .iphoneX {
    background-image: url(/img/ix.PNG);
  }

  
  .iphonese2 {
    background-image: url(/img/ise2.PNG);
  }



  /* SAMSUNG */

  .sa, .sb, .sc, .sd, .se, .sf, .sg, 
.sh, .si, .sj, .sk, .sl, .sm, .sn,
.so, .sp, .sq, .sr, .ss, .st, .su,
.sw, .sx, .sy, .sz  {
    width:190px;
    height:235px;
    border-radius: 10px;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
  }

.sa {
    background-image: url(/img/carousel-2.png);
  }

.b {
    background-image: url(/img/i15p.PNG);
  }

  
.c {
    background-image: url(/img/i15+.PNG);
  }
  
  .d {
    background-image: url(/img/i15.PNG);
  }

  
  .e {
    background-image: url(/img/i14pm.PNG);
  }

  
  .f {
    background-image: url(/img/i14pm.PNG);
  }
  
  .l {
    background-image: url(/img/i12.JPG);
  }

  
  

  
  .v {
    background-image: url(/img/i15pm.PNG);
  }

  
  .w {
    background-image: url(/img/i15pm.PNG);
  }

  
  .x {
    background-image: url(/img/i15pm.PNG);
  }

  
  .y {
    background-image: url(/img/i15pm.PNG);
  }

  
  .z {
    background-image: url(/img/i15pm.PNG);
  }


/* INFINIX */

.xa {
  background-image: url(/img/i15pm.PNG);
}

.b {
  background-image: url(/img/i15p.PNG);
}


.c {
  background-image: url(/img/i15+.PNG);
}

.d {
  background-image: url(/img/i15.PNG);
}


.e {
  background-image: url(/img/i14pm.PNG);
}


.f {
  background-image: url(/img/i14pm.PNG);
}


.g {
  background-image: url(/img/i14+.PNG);
}


.h {
  background-image: url(/img/i13.PNG);
}


.i {
  background-image: url(/img/i13m.PNG);
}


.j {
  background-image: url(/img/i12pm.JPG);
}


.k {
  background-image: url(/img/i12p.JPG);
}


.l {
  background-image: url(/img/i12.JPG);
}


.m {
  background-image: url(/img/i12.JPG);
}


.n {
  background-image: url(/img/i11pm.PNG);
}


.o {
  background-image: url(/img/i11p.JPG);
}


.p {
  background-image: url(/img/i11.PNG);
}


.q {
  background-image: url(/img/ixr.PNG);
}


.r {
  background-image: url(/img/ixm.JPG);
}


.s {
  background-image: url(/img/ixs.JPG);
}


.t {
  background-image: url(/img/ix.PNG);
}


.u {
  background-image: url(/img/ise2.PNG);
}


.v {
  background-image: url(/img/i15pm.PNG);
}


.w {
  background-image: url(/img/i15pm.PNG);
}


.x {
  background-image: url(/img/i15pm.PNG);
}


.y {
  background-image: url(/img/i15pm.PNG);
}


.z {
  background-image: url(/img/i15pm.PNG);
}
  
/* itel */

.itel1 {
  width: 188px;
  height: 235px;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}

.itel1 {
  background-image: url(/img/IMG_2509.JPG);
}

.b {
  background-image: url(/img/i15p.PNG);
}


.c {
  background-image: url(/img/i15+.PNG);
}

.d {
  background-image: url(/img/i15.PNG);
}

/* Laptops */

.lap1 {
  width: 195px;
  height: 235px;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;

}

.lap1 {
  background-image: url(/img/IMG_2513.PNG);
}

.b {
  background-image: url(/img/i15p.PNG);
}
 /* Redmi */

 .red1 {
  width: 188px;
  height: 235px;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
 }

 .red1 {
  background-image: url(/img/IMG_2508.JPG);
}

/* Consoles */

.ps1 {
  width: 220px;
  height: 240px;
  border-radius: 10px;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}

.ps1 {
  background-image: url(/img/ps1.png);
}