.ia, .ib, .ic, .id, .ie, .if, .ig, 
.ih, .ii, .ij, .ik, .il, .im, .in,
.io, .ip, .iq, .ir, .is, .it, .iu,
.iw, .ix, .iy, .iz  {
    width:190px;
    height:235px;
    border-radius: 10px;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
  }


  .ia {
    background-image: url(/img/i15pm.PNG);
  }

.ib {
    background-image: url(/img/i15p.PNG);
  }

  
.ic {
    background-image: url(/img/i15+.PNG);
  }
  
  .id {
    background-image: url(/img/i15.PNG);
  }

  
  .ie {
    background-image: url(/img/i14pm.PNG);
  }

  
  .if {
    background-image: url(/img/i14pm.PNG);
  }

  
  .ig {
    background-image: url(/img/i14+.PNG);
  }

  
  .ih {
    background-image: url(/img/i13.PNG);
  }

  
  .ii {
    background-image: url(/img/i13m.PNG);
  }

  
  .ij {
    background-image: url(/img/i12pm.JPG);
  }

  
  .ik {
    background-image: url(/img/i12p.JPG);
  }

  
  .il {
    background-image: url(/img/i12.JPG);
  }

  
  .im {
    background-image: url(/img/i12.JPG);
  }

  
  .in {
    background-image: url(/img/i11pm.PNG);
  }

  
  .io {
    background-image: url(/img/i11p.JPG);
  }

  
  .ip {
    background-image: url(/img/i11.PNG);
  }

  
  .iq {
    background-image: url(/img/ixr.PNG);
  }

  
  .ir {
    background-image: url(/img/ixm.JPG);
  }

  
  .is {
    background-image: url(/img/ixs.JPG);
  }

  
  .it {
    background-image: url(/img/ix.PNG);
  }

  
  .iu {
    background-image: url(/img/ise2.PNG);
  }

  
  .iv {
    background-image: url(/img/i15pm.PNG);
  }

  
  .iw {
    background-image: url(/img/i15pm.PNG);
  }

  
  .ix {
    background-image: url(/img/i15pm.PNG);
  }

  
  .iy {
    background-image: url(/img/i15pm.PNG);
  }

  
  .iz {
    background-image: url(/img/i15pm.PNG);
  }


.sa {
    background-image: url(/img/i15pm.PNG);
  }

.b {
    background-image: url(/img/i15p.PNG);
  }

  
.c {
    background-image: url(/img/i15+.PNG);
  }
  
  .d {
    background-image: url(/img/i15.PNG);
  }

  
  .e {
    background-image: url(/img/i14pm.PNG);
  }

  
  .f {
    background-image: url(/img/i14pm.PNG);
  }

  
  .g {
    background-image: url(/img/i14+.PNG);
  }

  
  .h {
    background-image: url(/img/i13.PNG);
  }

  
  .i {
    background-image: url(/img/i13m.PNG);
  }

  
  .j {
    background-image: url(/img/i12pm.JPG);
  }

  
  .k {
    background-image: url(/img/i12p.JPG);
  }

  
  .l {
    background-image: url(/img/i12.JPG);
  }

  
  .m {
    background-image: url(/img/i12.JPG);
  }

  
  .n {
    background-image: url(/img/i11pm.PNG);
  }

  
  .o {
    background-image: url(/img/i11p.JPG);
  }

  
  .p {
    background-image: url(/img/i11.PNG);
  }

  
  .q {
    background-image: url(/img/ixr.PNG);
  }

  
  .r {
    background-image: url(/img/ixm.JPG);
  }

  
  .s {
    background-image: url(/img/ixs.JPG);
  }

  
  .t {
    background-image: url(/img/ix.PNG);
  }

  
  .u {
    background-image: url(/img/ise2.PNG);
  }

  
  .v {
    background-image: url(/img/i15pm.PNG);
  }

  
  .w {
    background-image: url(/img/i15pm.PNG);
  }

  
  .x {
    background-image: url(/img/i15pm.PNG);
  }

  
  .y {
    background-image: url(/img/i15pm.PNG);
  }

  
  .z {
    background-image: url(/img/i15pm.PNG);
  }

  
  .aa {
    background-image: url(/img/i15pm.PNG);
  }

  
  .ab {
    /* background-image: url(/img/i15pm.PNG); */
  }

  
